/* Global.css for every file on the website */

/*  Navbar.tsx  */
#navbar {
  height: 100px;
  top: 0;
  width: 100%;
  background-color: rgb(200, 59, 59);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: bold;
  @media (max-width: 990px) {
    top: 0;
    height: 120px;
    justify-content: center;
  }
}

.navbar-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

#nav-items {
  cursor: pointer;
  @media (max-width: 990px) {
    padding: 2%;
    width: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    justify-self: end;
    background-color: rgb(200, 59, 59);
    align-items: center;
  }
}

.nav-link:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.navbar-brand #logo {
  justify-self: start;
  width: 50px;
  height: auto;
}

/*  This and below is for the Home Page */
/*  HomePage.tsx  */

#home-grid {
  display: grid;
  height: 100%;
  width: 100%;
  @media (max-width: 992px) {
    grid-template-areas:
      "lHalf"
      "rHalf";
    grid-template-rows: 12vh 68vh;
  }
  @media (max-width: 850px) {
    grid-template-rows: 20vh 60vh;
  }
  @media (max-width: 450px) {
    grid-template-rows: 30vh 40vh;
  }

  @media (min-width: 992px) {
    grid-template-areas: "lHalf rHalf";
    grid-template-columns: 100% 67%;
    justify-content: space-between;
    overflow: hidden;
  }
}

#home-grid > #left-half {
  grid-area: lHalf;
  align-content: center;
  position: relative;
  z-index: 2;
  color: white;
  height: 100%;
  width: 100%;
  @media (min-width: 992px) {
    z-index: 1;
  }
}

#home-grid > #right-half {
  grid-area: rHalf;
  background-color: black;
  overflow: hidden;
  position: relative;
  display: block;

  @media (max-width: 991px) {
    margin-bottom: -12vh;
    z-index: 1;
  }

  @media (max-width: 870px) {
    margin-bottom: -20vh;
  }

  @media (max-width: 450px) {
    top: -30vh;
    margin-bottom: -40vh;
  }

  @media (min-width: 992px) {
    left: -100%;
    background: transparent;
  }
}

.relative-container {
  @media (max-width: 990px) {
    opacity: 0.5;
    background-color: black;
  }
  @media (min-width: 1920px) {
    background-position: 300px center;
  }
  @media (min-width: 990px) {
    height: 100%;
    background-color: black;
    background-image: url(./Photos/outline.png);
    background-position: center;
    background-position: 2000px -125px;
    background-size: 50%;
    background-repeat: no-repeat;
    animation: fadeInRight 1s forwards;
    animation-delay: 500ms;
  }
}

@keyframes fadeInRight {
  to {
    background-color: black;
    background-position: 50px -125px;
  }
}

#text-left {
  font-size: 4rem;
  font-style: italic;
  font-family: "times new roman", times, serif;
  font-weight: lighter;
  position: absolute;
  top: 30vh;
  transform: translate(500px, 0);
  animation: comeIn 1s forwards;
  animation-delay: 500ms;
  opacity: 0;
  @media (min-width: 990px) {
    -webkit-text-stroke: 10px black;
    paint-order: stroke;
  }

  @media (max-width: 990px) {
    color: white;
    animation: comeUp 1s forwards;
    animation-delay: 500ms;
    opacity: 0;
    transform: translate(0, 15vh);
  }
}

@keyframes comeIn {
  to {
    transform: translate(20px, 0);
    opacity: 1;
  }
}

@keyframes comeUp {
  to {
    transform: translate(0, -25vh);
    opacity: 1;
  }
}

#right-half img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  -webkit-mask-image:
    linear-gradient(to right, transparent 0%, black 15%),
    linear-gradient(to top, transparent 0%, black 40%);
  -webkit-mask-composite: intersect;
  mask-image:
    linear-gradient(to right, transparent 0%, black 15%),
    linear-gradient(to top, transparent 0%, black 40%);
  mask-composite: intersect;
  border-bottom-left-radius: 4em;
  @media (min-width: 992px) {
    z-index: 3;
    top: -100vh;
    left: 5vw;
    animation: fadeIn 1s forwards;
    animation-delay: 800ms;
  }
  @media (max-width: 991px) {
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 30%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
    border-radius: 0;
  }
}

@keyframes fadeIn {
  to {
    left: 5vw;
    top: -5vh;
  }
}

/*  Events.tsx  */
#events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2em;
}

.loading-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.loading-ball {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: silver;
}

#loading-one {
  animation: bounceInfinite 1s ease-in-out infinite;
  animation-delay: 200ms;
}

#loading-two {
  animation: bounceInfinite 1s ease-in-out infinite;
  animation-delay: 500ms;
}

#loading-three {
  animation: bounceInfinite 1s ease-in-out infinite;
  animation-delay: 800ms;
}

@keyframes bounceInfinite {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 3%;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-event {
  width: 35%;
  height: auto;
  object-fit: contain;
  border-radius: 3em;
  @media (max-width: 992px) {
    width: 80%;
    justify-items: center;
    align-items: center;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 75%;
  justify-self: center;
  font-size: 1em;
  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
    justify-items: center;
  }
}

.card-text h5 {
  text-align: center;
  font-size: 2rem;
  padding: 50px 0;
}

#event-title {
  justify-self: center;
  font-size: 4em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#event-prices {
  display: flex;
  justify-self: center;
  width: 80%;
  justify-content: space-between;
  padding: 5px;
  @media (max-width: 992px) {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
}

#sell-items {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  @media (max-width: 992px) {
    list-style-position: inside;
    text-align: left;
    justify-self: center;
  }
}

.card-text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#sell-items li {
  display: flex;
  align-items: center;
}

.item-name {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: pre-line;
}

.item-price {
  margin-left: auto;
  white-space: nowrap;
  padding-left: 3%;
}

.item-name::after {
  content: "";
  flex: 1;
  border-bottom: 2px dashed black;
  margin-left: 1rem;
}

.card-container.reverse {
  flex-direction: row-reverse;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

/*  About.tsx   */
#about-container {
  display: flex;
  flex-direction: row;
  width: 75%;
  justify-self: center;
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    width: 100%;
    flex-direction: column;
  }
}

#about-description {
  width: 50%;
  text-align: start;
  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
  }
}

.group-photo {
  object-fit: contain;
  width: 40%;
}

/*      MGC     */
#mgc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 100, 177);
  color: white;
  font-family: "Noto Sans";
  text-align: center;
}

#mgc-container h2 {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
}

.mgc-link {
  font-size: 3em;
  text-decoration: none;
  color: white;
}

.mgc-link:hover {
  text-decoration: none;
}

.mgc-icon {
  font-size: 3em;
}

/*  School.tsx  */
a.click-button {
  background-color: black;
  border-radius: 5em;
  width: fit-content;
  padding: 0 5px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 0;
}

.school-container {
  display: flex;
  flex-direction: column;
  background-image: url(./Photos/Blaze.png);
  background-size: 100%;
  background-position: -1000px -50px;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  font-family: "Noto Sans";
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 100, 177);
  animation: blazeIn 1s forwards;
  animation-delay: 500ms;
  @media (max-width: 992px) {
    background-position: -1000px 35px;
    background-size: 140%;
    animation: blazeInMobile 1s forwards;
  }
}

.school-container h6 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}

@keyframes blazeIn {
  to {
    background-position: -250px -50px;
  }
}

@keyframes blazeInMobile {
  to {
    background-position: -200px 35px;
  }
}

#resources-row {
  justify-content: space-between;
  width: 80%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

#help-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  justify-items: center;
}

#help-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  color: black;
  --webkit-text-stroke-width: 5px;
  --webkit-text-stroke-color: white;
  padding: 0;
  gap: 5px;
}

#study-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  justify-items: center;
}

#study-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  padding: 0;
  gap: 5px;
}

.school-list-item {
  font-size: 1.2em;
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
}

/*  Footer.tsx  */
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*              This and below will be for the Gallery                */
/*              This and below will be for the OnlyBros               */
/*  Onlybros.tsx  */
.admin-page {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100vw;
  padding-top: 50px;
  align-items: start;
  @media (max-width: 992px) {
    align-items: start;
  }
}

.admin-page-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.admin-page-swap {
  padding: 5px 10px;
  background-color: red;
  margin-left: 3%;
  border-radius: 12px;
  font-size: 1.25em;
  font-weight: 500;
  color: silver;
  cursor: pointer;
  margin-bottom: 10px;
  width: fit-content;
}

.admin-panels-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }
}
/*  AdminPanel.tsx  */
.admin-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  @media (max-width: 992px) {
    max-width: 350px;
    width: 400px;
    overflow: hidden;
    margin: 0;
    padding: 10px;
  }
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  text-align: center;
}

.admin-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  @media (max-width: 992px) {
    padding: 0;
  }
}

.description-input {
  width: 100%;
  min-height: 80px;
  padding: 8px 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.item-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  text-align: center;
}

.input-event {
  width: 100%;
}

.item-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  color: black;
}

.price-wrapper {
  display: flex;
  align-items: center;
  gap: 2px;
}

.price-wrapper span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 16px;
}

.price-input {
  width: 100px;
}

.delete-btn {
  background-color: #ff4d4d;
  color: white;
}

.edit-btn {
  background-color: #4d79ff;
  color: white;
  margin-right: 10px;
}

.edit-container {
  display: flex;
  flex-direction: column;
}
/*    Login.tsx   */
.login-form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.login-form input {
  width: 30%;
  margin: 25px;
  justify-content: center;
  text-align: center;
  @media (max-width: 992px) {
    width: 75%;
  }
}

/*  AssignRole.tsx  */
.assign-role-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 75%;
  margin: 10px 12px;
  padding: 10px 12px;
  align-self: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.assign-role-container h2 {
  text-align: center;
}

.uid-input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.role-input {
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*  UserInfo.tsx   */
.user-info-container {
  display: flex;
  flex-direction: row;
  font-size: 0.75em;
  @media (max-width: 992px) {
    margin: 5px 0 5px 0;
  }
}

.logout-btn {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: white;
  max-width: fit-content;
  height: 20px;
  padding: 1px 10px;
  margin: 2px 5px;
  border-radius: 4px;
  border: solid black;
  color: black;
}

/*    Alumni.tsx    */
.alumni-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  padding: 0 2%;
  border: solid black;
  justify-content: center;
  align-items: center;
}

.return-admin {
  background-color: #ffffff;
  color: white;
  max-width: fit-content;
  padding: 1px 10px;
  margin: 0 0 5px 0;
  border-radius: 4px;
  border: solid black;
  color: black;
  align-self: start;
}

.alumni-page-header {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: red;
}

.alumni-newsletter {
  display: flex;
  flex-direction: row;
  border: solid purple;
  width: 100%;
  gap: 15px;
}

.alumni-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  border: solid red;
}

.alumni-event-container {
  display: flex;
  flex-direction: row;
  border: solid black;
  padding: 10px 20px;
  width: 100%;
  align-items: center;
}

.alumni-updates-container {
  display: flex;
  flex-direction: column;
}

.alumni-event-title {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: pre-line;
  font-weight: bold;
  font-size: 1.5em;
}

.alumni-event-date {
  margin-left: auto;
  white-space: nowrap;
  padding-left: 3%;
}

.alumni-event-title::after {
  content: "";
  flex: 1;
  border-bottom: 2px dashed black;
  margin-left: 25px;
}

.alumni-updates {
  border: solid black;
}

/*            This and below will be for the Meet The bros            */
