/* Global.css for every file on the website */

/*  Navbar.tsx  */
.navbar {
  height: 100px;
  top: 0;
  width: 100dvw;
  background-color: rgb(200, 59, 59);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: bold;
  @media (max-width: 990px) {
    top: 0;
    height: 120px;
    justify-content: center;
  }
}

.navbar-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

.navbar-collapse {
  width: 75%;
}

.nav-items {
  cursor: pointer;
  @media (max-width: 990px) {
    padding: 2%;
    width: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    justify-self: end;
    background-color: rgb(200, 59, 59);
    align-items: center;
  }
}

.nav-link:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.navbar-brand .logo {
  justify-self: start;
  width: 50px;
  height: auto;
  animation: none;
  clip-path: none;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* GENERALIZED CLASSES --- REPEATED STYLES */

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-col-mobile {
  @media (max-width: 992px) {
    flex-direction: column !important;
  }
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-start {
  justify-content: start;
}

.flex-between {
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-even {
  justify-content: space-evenly;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.hide-mobile {
  @media (max-width: 992px) {
    display: none;
  }
}

.w-100-mobile {
  @media (max-width: 992px) {
    width: 100%;
  }
}

.pointer {
  cursor: pointer;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* POPUP CONTAINERS  */

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  align-items: center;
  @media (max-width: 992px) {
    width: 90%;
    padding: 1rem;
    max-height: 80vh;
    overflow-y: auto;
  }
}

.popup-box.event-info {
  width: 50%;
  text-align: left;
}

.popup-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||| This and below is for the Home Page |||||||| */
/* |||||||||||||||||||| HomePage.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.intro {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.text-left {
  animation: comeIn 1s forwards;
  animation-delay: 500ms;
  font-size: 4rem;
  font-style: italic;
  font-family: "times new roman", times, serif;
  font-weight: lighter;
  -webkit-text-stroke: 3px silver;
  paint-order: stroke;
  opacity: 0;
  transform: translateX(100%);
  z-index: 1;
  @media (max-width: 992px) {
    font-size: 3em;
    animation: comeUp 1s forwards;
  }
}

@keyframes comeIn {
  to {
    transform: translate(10%, 0);
    opacity: 1;
  }
}

@keyframes comeUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.intro img {
  /* This is specifically for the image on the right half, 
  This allows for the image to fade into the back and be able to blend seamlessly */
  animation: fadeIn 1s forwards;
  animation-delay: 300ms;
  clip-path: none;
  width: 60%;
  object-fit: contain;
  align-self: start;
  transform: translateY(-50%);
  opacity: 0;
  z-index: 2;
  -webkit-mask-image:
    linear-gradient(to right, transparent 0%, black 15%),
    linear-gradient(to top, transparent 0%, black 40%);
  -webkit-mask-composite: intersect;
  mask-image:
    linear-gradient(to right, transparent 0%, black 15%),
    linear-gradient(to top, transparent 0%, black 40%);
  mask-composite: intersect;
  @media (max-width: 992px) {
    width: 100%;
    flex: 1;
    mask-image: linear-gradient(to top, transparent 0%, black 20%)
      linear-gradient(to bottom, transparent 0%, black 20%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 20%)
      linear-gradient(to bottom, transparent 0%, black 20%);
    mask-composite: intersect;
    -webkit-mask-composite: source-in;
    object-fit: cover;
  }
}

@keyframes fadeIn {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Events.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* This is for the countdown that will display on the  */
.countdown-display-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: white;
  width: 100%;
  padding: 5% 2%;
  background: black;
  border-radius: 15px;
  @media (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
  }
}

.countdown-image {
  width: 25%;
  border-radius: 8px;
  @media (max-width: 992px) {
    width: 90%;
  }
}

.countdown-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 992px) {
    margin-top: 5px;
    width: 100%;
  }
}

.countdown-col h2 {
  font-size: 2em;
  font-weight: 900;
}

.countdown-col .countdown-timer {
  @media (max-width: 992px) {
    gap: 4px;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.countdown-col .countdown-number-wrapper {
  background: black;
  @media (max-width: 992px) {
    width: 70px;
    height: 75px;
  }
}

.countdown-col .countdown-number {
  color: white;
  @media (max-width: 992px) {
    font-size: 1.75em;
  }
}

.countdown-col .countdown-separator {
  @media (max-width: 992px) {
    font-size: 1.5em;
    margin-top: 5px;
  }
}

.countdown-col .countdown-label {
  @media (max-width: 992px) {
    font-size: 1em;
  }
}

.event-countdown-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.events-container {
  padding: 3em 0;
}

.events-container,
.countdown-events-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: fit-content;
  align-items: center;
  padding: 0 5%;
  width: 100%;
  gap: 30px;

  @media (max-width: 992px) {
    gap: 10px;
  }
}

.events-list-countdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex: 1;
  padding: 0 5% 5%;
  gap: 10px;
}

.countdown-event-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.event-countdown-title {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: pre-line;
}

.event-countdown-title::before {
  content: ">";
  margin: 0 1em;
}

.event-countdown-date {
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 15px;
}

.event-countdown-date::after {
  content: "";
  margin: 0 1em;
}

.event-logo {
  margin-right: 5px;
  @media (max-width: 992px) {
    display: block;
    font-size: 1em;
    flex: 1;
  }
}

hr {
  margin: 0.25em 2em;
}

.event-start-end {
  margin: 0;
}

.card-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: calc(100% - 100px);
  height: min-content;
  padding: 3%;
  align-items: center;
  justify-self: center;
  justify-content: space-evenly;
  box-shadow: 2px 5px 10px 2px;
  margin-top: 10px;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    width: 100%;
    margin: 10px 0;
  }
}

.card-container .img-fluid {
  width: 25%;
  @media (max-width: 992px) {
    width: 75%;
  }
}

.event-card-info {
  width: 75%;
}

.card-event {
  width: 35%;
  height: auto;
  object-fit: contain;
  border-radius: 1em;
  @media (max-width: 992px) {
    justify-items: center;
    align-items: center;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 75%;
  justify-self: center;
  font-size: 1em;
  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
    justify-items: center;
    font-size: 0.75em;
  }
}

.card-text h5 {
  text-align: center;
  font-size: 2rem;
  padding: 50px 0;

  @media (max-width: 992px) {
    padding: 10px 0;
    font-size: 1.75em;
  }
}

.event-title {
  justify-self: center;
  font-size: 4em;
  font-family: Georgia, "Times New Roman", Times, serif;
  @media (max-width: 992px) {
    font-size: 3em;
  }
}

.event-prices {
  display: flex;
  justify-self: center;
  width: 80%;
  justify-content: space-between;
  padding: 5px;
  @media (max-width: 992px) {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
}

.sell-items {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  @media (max-width: 992px) {
    list-style-position: inside;
    text-align: left;
    justify-self: center;
  }
}

.card-text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.sell-items li {
  display: flex;
  align-items: center;
}

.item-name {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: pre-line;
}

.item-price {
  margin-left: auto;
  white-space: nowrap;
  padding-left: 3%;
}

.item-name::after {
  content: "";
  flex: 1;
  border-bottom: 2px dashed black;
  margin-left: 1rem;
}

.card-container.reverse {
  flex-direction: row-reverse;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

/*  About.tsx   */
.about-container {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  @media (max-width: 992px) {
    width: 100%;
    flex-direction: column;
  }
}

.about-description {
  width: 50%;
  text-align: start;
  gap: 10px;
  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
  }
}

.group-photo {
  object-fit: contain;
  width: 40%;
  border-radius: 8px;

  @media (max-width: 992px) {
    width: 90%;
  }
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| MGC.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.mgc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 100, 177);
  color: white;
  font-family: "Noto Sans";
  text-align: center;
}

.mgc-container h2 {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
}

.mgc-link {
  font-size: 3em;
  text-decoration: none;
  color: white;
}

.mgc-link:hover {
  text-decoration: none;
}

.mgc-icon {
  font-size: 3em;
  fill: url(#mgc-insta);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| School.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

a.click-button {
  background-color: black;
  border-radius: 5em;
  width: fit-content;
  padding: 0 5px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 0;
}

.school-container {
  display: flex;
  flex-direction: column;
  background-image: url(./Photos/Blaze.png);
  background-size: 100%;
  background-position: -1000px -50px;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  font-family: "Noto Sans";
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 100, 177);
  animation: blazeIn 1s forwards;
  animation-delay: 500ms;

  @media (max-width: 992px) {
    background-position: -1000px 0px;
    background-size: 140%;
    animation: blazeInMobile 1s forwards;
    height: 55vh;
  }

  @media (min-width: 1500px) {
    background-size: 80%;
    background-position: -1000px -25px;
    animation: blazeInBig 1s forwards;
    height: 55vh;
  }
}

.school-container h1 {
  font-weight: 900;
  @media (max-width: 992px) {
    font-size: 2em;
  }
}

.school-container h6 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;

  @media (max-width: 992px) {
    font-size: 2.25em;
  }
}

@keyframes blazeIn {
  to {
    background-position: -250px -50px;
  }
}

@keyframes blazeInBig {
  to {
    background-position: -175px -25px;
  }
}

@keyframes blazeInMobile {
  to {
    background-position: -200px 0px;
  }
}

.resources-row {
  justify-content: space-between;
  width: 80%;
  height: 100%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.help-resources,
.study-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  justify-items: center;
  height: 100%;
}

.help-list,
.study-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  color: black;
  --webkit-text-stroke-width: 5px;
  --webkit-text-stroke-color: white;
  padding: 0;
  gap: 5px;
}

.school-list-item {
  font-size: 1.2em;
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Follow.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.follow-container {
  display: flex;
  justify-content: center;
  width: 100dvw;
  height: 35dvh;
  background: black;
  z-index: 1;
  padding-top: 25px;
  overflow: hidden;
  @media (max-width: 992px) {
    height: auto;
  }
}

.follow-hide {
  display: flex;
  position: relative;
  align-items: center;
  width: 90%;
  height: 85%;
  overflow-y: hidden;
}

.follow-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  background: rgb(200, 59, 59);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  @media (max-width: 992px) {
    position: relative;
    height: 95%;
  }
}

.active-follow {
  animation: goDown 1s ease-out forwards;
}

@keyframes goDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
    z-index: 0;
  }
}

.follow-wrapper h2 {
  padding: 0;
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  width: 90%;
  text-align: left;
  @media (max-width: 992px) {
    font-size: 2em;
  }
}

.follow-wrapper .line-separate {
  flex: none;
  margin: 0;
  padding: 0;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 20%;
  margin: 0;
  padding: 5px 0;
  justify-content: space-between;
  @media (max-width: 992px) {
    height: 25%;
    flex-wrap: nowrap;
  }
}

.founding-date-loc {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: 600;
  height: fit-content;
  justify-content: space-evenly;
  @media (max-width: 992px) {
    font-size: 1em;
  }
}

.follow-dates {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.spacer::after {
  content: "|";
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 0.75;
  margin: 0;
  padding: 5px 0;
  gap: 0.5%;

  @media (max-width: 992px) {
    gap: 5px;
  }
}

.icons-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.follow-icon {
  height: 100%;
  width: auto;
  color: black;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.extension {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 5%;
  gap: 5%;
  @media (max-width: 992px) {
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
}

.extension h6 {
  font-weight: 600;
  padding: 1% 0 0;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.touch-list {
  list-style-type: none;
  padding: 0 2%;
}

.touch-list li .list-item,
.touch-list li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  width: max-content;
}

.letters {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 15% !important;

  @media (max-width: 992px) {
    width: 25% !important;
  }
}

.founding-date {
  position: absolute;
  top: 1%;
  right: 1%;
  color: black;
}

/* ----------------------------------------------------------------------------------- */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Footer.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.2);
  background: black;
  padding: 0 5px;
}

.footer-container span {
  font-weight: 700;
}
/*---------------------------------------------------------------------------------- */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||    Pages    ||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100dvw;
  min-height: calc(100dvh - 100px);
  padding-bottom: 25px;
  align-self: start;
  overflow-x: hidden;
  @media (max-width: 992px) {
    min-height: calc(100dvh - 120px);
  }
}

.admin-page {
  flex-direction: row;
  padding-bottom: 0;
  @media (max-width: 992px) {
    flex-direction: column;
    padding: 0 10px;
  }
}

.login-page {
  justify-content: center;
  overflow: hidden;
  color: white;
  background-color: rgba(111, 105, 105, 0.51);
}

.alumni-page,
.all-bros-page {
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.mtb-page {
  gap: 50px;
  overflow-y: hidden;
}

.contact-page {
  justify-content: center;
  @media (max-width: 992px) {
    padding-top: 120px;
    box-sizing: border-box;
  }
}

/* ----------------------------------------------------------------------------------- */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Gallery.tsx ||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.odphi-gallery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 25px;
  @media (max-width: 992px) {
    padding: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.gallery-card {
  position: relative;
  width: 600px;
  min-height: 500px;
  max-height: 600px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 992px) {
    width: 350px;
    min-height: 350px;
    max-height: 500px;
  }
}

.trash-can-wrapper,
.edit-btn-wrapper {
  position: absolute;
  z-index: 10;
  cursor: pointer;
  background: transparent;
}

.trash-can-wrapper {
  top: 0;
  right: 1%;
}

.edit-btn-wrapper {
  top: 0;
  right: 10%;
  color: rgba(0, 0, 0, 0.25);
}

.trash-can {
  color: rgba(0, 0, 0, 0.25);
  width: 16px;
  height: auto;
}

.trash-can.countdown {
  color: rgba(255, 255, 255, 0.25);
}

.gallery-card:hover {
  box-shadow: 2px 4px 8px 2px;
  transform: translateY(-10px);
}

.odphi-gallery-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: center;
  padding: 5px 5px 0;
  border-radius: 15px 15px 0 0;
  @media (max-width: 992px) {
    width: 100%;
    max-height: 300px;
  }
}

.image-description {
  width: 100%;
  flex: 1;
  padding: 0;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.5;
  background: white;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 4;
  -webkit-line-clamp: 4; /* limit to 4 lines */
  -webkit-box-orient: vertical;

  @media (max-width: 992px) {
    margin: 0;
    text-align: center;
  }
}

/* ----------------------------------------------------------------------------------- */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||| This and below will be for the OnlyBros ||||||||||| */
/* ||||||||||||||||||||||||| Onlybros.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.admin-sidebar {
  display: flex;
  flex-direction: column;
  border-right: solid rgba(0, 0, 0, 0.4);
  justify-content: space-evenly;
  width: 300px;
  height: calc(100vh - 100px);
  padding: 0 15px;
  @media (max-width: 992px) {
    flex-direction: row;
    height: 125px;
    width: 100%;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.admin-page-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  justify-content: center;
  @media (max-width: 992px) {
    flex-direction: column;
    width: auto;
    flex-shrink: 0;
    align-items: center;
  }
}

.page-btn {
  padding: 5px 10px;
  border-radius: 12px;
  font-weight: 500;
  color: silver;
  cursor: pointer;
  @media (max-width: 992px) {
    white-space: nowrap;
    flex-shrink: 0;
  }
}

.admin-panels-container {
  display: block;
  width: calc(100% - 300px);
  justify-content: center;
  @media (max-width: 992px) {
    width: 100%;
    margin-bottom: 10px;
  }
}

.admin-show-button {
  position: relative;
  overflow: hidden;
  background: transparent;
  color: black;
  border: solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  z-index: 0;
  transition: color 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.admin-show-button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: transform 0.3s ease;
  z-index: -1;
}

.admin-show-button:hover {
  background: transparent;
  border: solid black;
  box-shadow:
    0 0 3px white,
    0 0 9px,
    0 0 18px,
    0 0 32px;
}

.admin-show-button::before {
  left: 0;
  transform: translateX(-100%);
}

.admin-show-button.active::before {
  transform: translateX(0);
}

.admin-show-button.active {
  color: white;
}

/* ----------------------------------------------------------------------------------- */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||| AdminPanel.tsx & Popup.tsx |||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.admin-container {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  @media (max-width: 992px) {
    max-width: 350px;
    width: 400px;
    overflow-x: hidden;
  }
}

.admin-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.admin-label {
  align-self: start;
  font-weight: 500;
}

.admin-checkbox {
  width: 100px;
  height: auto;
}

.description-input {
  width: 100%;
  min-height: 80px;
  padding: 8px 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.item-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  text-align: center;
  gap: 5px;
  margin-bottom: 5px;
}

.item-input input {
  width: 100%;
}

.countdown-event-input {
  width: 100%;
}

.countdown-event-input {
  max-width: 50%;
}

.countdown-event-input.year,
.countdown-event-input.date {
  max-width: 30%;
}

.item-row,
.countdown-event-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  color: black;
}

.countdown-event-row {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.countdown-event-input-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 10px;
}

.countdown-event-input.start,
.countdown-event-input.end {
  width: 100%;
}

.price-wrapper {
  display: flex;
  align-items: center;
}

.price-wrapper span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 16px;
}

.preview-image {
  width: 250px;
  height: auto;
  border-radius: 8px;
  align-self: center;
}

/* ----------------------------------------------------------------------------------- */
.delete-btn {
  background-color: #ff4d4d;
  color: white;
}

.item-delete {
  padding: 2px 5px;
  margin-left: 5px;
}

.knight-input.award-year {
  width: 20%;
}

.edit-btn {
  background-color: #4d79ff;
  color: white;
  margin-right: 10px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: start;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.edit-container.countdown {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.close-btn {
  background-color: black;
  color: white;
}

.view-container {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  padding: 5px 15px;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.knight-view-container {
  width: 150px;
  height: 200px;
  padding: 5px 0;
}

.knight-view-container h6 {
  font-weight: 900;
}

/* ----------------------------------------------------------------------------------- */
/* AdminTabs.tsx */
/* ----------------------------------------------------------------------------------- */
.tab-container {
  display: grid;
  grid-template-areas:
    "Title Title"
    "AdminPanel ActiveContent";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 100px);
  overflow: hidden;
  @media (max-width: 992px) {
    grid-template-areas:
      "Title"
      "AdminPanel"
      "ActiveContent";
    overflow: auto;
    grid-template-columns: 1fr;
  }
}

.tab-container > h1 {
  grid-area: Title;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  font-weight: 900;
  width: 100%;
}

.tab-container > .admin-tab-panel {
  grid-area: AdminPanel;
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  @media (max-width: 992px) {
    overflow-y: visible;
    height: auto;
  }
}

.tab-container > .active-events {
  grid-area: ActiveContent;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  width: 100%;
  overflow-y: auto;
  gap: 15px;
  @media (max-width: 992px) {
    height: auto;
    max-width: 750px;
    overflow-y: visible;
  }
}

.admin-tab-panel {
  width: 100%;
}

.active-events h2 {
  width: 100%;
  text-align: center;
}

.active-events.knights {
  text-align: center;
}

.edit-container h4 {
  text-align: center;
}
/* ----------------------------------------------------------------------------------- */

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.countdown-title {
  font-size: 1.5em;
  font-weight: 600;
}

.countdown-timer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
}

.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  @media (max-width: 992px) {
    padding: 0;
  }
}

.countdown-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 70px;
  background: black;
  border-radius: 8px;
  overflow: hidden;
}

.countdown-number {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  z-index: 1;
}

.countdown-separator {
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 10px;
}

.countdown-label {
  font-size: 1em;
  font-weight: 900;
}

.countdown-number-wrapper.flip {
  animation: flip 400ms ease forwards;
}

@keyframes flip {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-100px);
    opacity: 1;
  }
  51% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* --------------------------------------------------- */
.popup-box.countdowns {
  width: 75%;
  height: 60%;
  overflow-y: scroll;
}

.countdown-popup {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  width: 80%;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||| Login.tsx |||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||| */

.password-wrapper {
  width: 30%;
  margin: 25px 0;
  background: transparent;
  @media (max-width: 992px) {
    width: 75%;
  }
}

.password-wrapper input {
  width: 100% !important;
  margin: 0 !important;
  text-align: center;
}

.show-password {
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: gray;
  font-size: 0.85em;
}

.sword {
  position: fixed;
  justify-self: center;
  z-index: 1;
  width: 650px;
  top: -125vh;
  clip-path: none;
  animation: comeDown 100ms forwards;
  animation-delay: 400ms;
  background: transparent;
  @media (max-width: 992px) {
    width: 400px;
    animation: comeDownMobile 100ms forwards;
    animation-delay: 400ms;
  }
}

@keyframes comeDown {
  to {
    top: 10vh;
  }
}

@keyframes comeDownMobile {
  to {
    top: 30vh;
  }
}

.spark-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: black;
}

.spark {
  position: fixed;
  bottom: 0;
  left: 0;
}

.login-form {
  position: fixed;
  width: 100dvw;
  background: transparent;
  pointer-events: none;
}

.login-form input,
.login-form button,
.login-form .password-wrapper {
  pointer-events: auto;
}

.login-form input {
  width: 30%;
  margin: 25px;
  justify-content: center;
  text-align: center;
  @media (max-width: 992px) {
    width: 75%;
  }
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||| AssignRole.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.assign-role-container {
  margin: 10px 12px;
  padding: 10px 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.uid-input,
.role-input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*  UserInfo.tsx   */
.user-info-container {
  font-size: 0.75em;
  @media (max-width: 992px) {
    margin: 5px 0 5px 0;
  }
}

.logout-btn {
  background-color: #ffffff;
  max-width: fit-content;
  height: 20px;
  padding: 1px 10px;
  margin: 2px 5px;
  border-radius: 4px;
  border: solid black;
  color: black;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||| Alumni.tsx & AllBros.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.return {
  background-color: #ffffff;
  max-width: fit-content;
  border-radius: 4px;
  border: solid black;
  color: black;
  padding: 4px 5px;
}

.page-header {
  width: 90%;
  height: fit-content;
  background-color: red;
}

.all-events {
  display: grid;
  grid-template-areas:
    "brotherhood events events bar"
    "alumni events events bar";
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 3fr;
  height: calc(100vh - 8.5em);
  overflow-y: hidden;
  padding: 0 15px;
  @media (max-width: 992px) {
    grid-template-areas:
      "events"
      "brotherhood"
      "alumni"
      "bar";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    overflow-y: auto;
  }
}

.alumni-all-events {
  display: grid;
  grid-template-areas:
    "form events photos"
    "important brotherhood photos";
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
  height: calc(100vh - 8.5em);
  overflow-y: hidden;
  padding: 0 15px;
  @media (max-width: 992px) {
    grid-template-areas:
      "important"
      "events"
      "brotherhood"
      "photos"
      "form";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    overflow-y: auto;
  }
}

.alumni-all-events > .alumni-contact,
.alumni-all-events > .tau-events,
.alumni-all-events > .tau-brotherhood,
.alumni-all-events > .important-events,
.alumni-all-events > .photos-side-bar,
.all-events > .brotherhood-events,
.all-events > .regular-events,
.all-events > .alumni-events,
.all-events > .side-bar {
  overflow-y: auto;
  justify-content: unset;
  @media (max-width: 992px) {
    height: auto;
    overflow-y: visible;
    width: 100%;
  }
}

/* This is for a Allbros.tsx */

.all-events > .brotherhood-events,
.alumni-all-events > .tau-brotherhood {
  grid-area: brotherhood;
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.all-events > .regular-events,
.alumni-all-events > .tau-events {
  grid-area: events;
}

.all-events > .alumni-events {
  grid-area: alumni;
  justify-content: center;
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.all-events > .side-bar {
  grid-area: bar;
  font-size: 1.5em;
  border-left: solid rgba(0, 0, 0, 0.4);
  padding-left: 15px;
}

.connect-options {
  list-style-type: none;
  align-items: start;
}

.connect-options li {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.connect-options li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.25);
}

.connect-options li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: rgba(0, 0, 0, 0.75);
  transition: width 0.3s ease;
}

.connect-options li:hover::after {
  width: 100%;
}

.regular {
  width: 90%;
}

/* This is for Alumni.tsx */
.alumni-all-events > .alumni-contact {
  grid-area: form;
}

.alumni-submit {
  top: 3%;
  right: 3%;
  border-radius: 15px;
  height: 25px;
  background: rgba(0, 0, 0, 0.4);
}
.alumni-all-events > .important-events {
  grid-area: important;
}

.alumni-all-events > .photos-side-bar {
  grid-area: photos;
  grid-row: 1/3;
  overflow: hidden;
  @media (max-width: 992px) {
    grid-row: auto; /* remove the span */
    height: 250px; /* fixed height for the image loop */
  }
}

.photos-side-bar .card {
  overflow: hidden;
  @media (max-width: 992px) {
    flex-direction: row !important;
  }
}

.photos-side-bar .card-body {
  overflow: hidden;
}

.alumni-image-wrapper {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 8px;
}

.alumni-image-wrapper img {
  object-fit: cover;
  object-position: center;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

.continous-loop {
  overflow: hidden;
  justify-content: unset;
  @media (max-width: 992px) {
    flex-direction: row !important;
  }
}

.loop-track {
  justify-content: unset;
  animation: scrollLoopY 10s linear infinite;
  @media (max-width: 992px) {
    flex-direction: row !important;
    animation: scrollLoopX 10s linear infinite;
  }
}

@keyframes scrollLoopY {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translateY(-25%);
  }
}

@keyframes scrollLoopX {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

.important-events .card {
  align-items: stretch !important;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||| This and below will be for the Meet The bros |||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.member-requirements {
  height: 500px;
  @media (max-width: 992px) {
    width: 100%;
    padding: 5px;
  }
}

.member-requirement-title {
  font-size: 2em;
  font-weight: 600;
  justify-self: start;

  @media (max-width: 992px) {
    font-size: 1.5em;
  }
}

.member-requirement-bottom {
  justify-self: end;
}

.member-requirement-title::before,
.member-requirement-title::after,
.member-requirement-bottom::after {
  flex: 1;
  content: "";
  height: 10px;
  border-bottom: solid black;
  margin: 0 5px;
  border-top: solid black;
  white-space: nowrap;
}

.requirement-list {
  flex: 1;
  list-style-type: none;
  padding: 0;
  gap: 15px;
  width: 95%;
}

.requirement {
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  height: 25%;
  opacity: 0;
  background: white !important;
}

.display h2 {
  font-size: 2em;
  font-weight: 800;
}

.knights-carousel {
  width: 55dvw;
  overflow: visible;
  @media (max-width: 992px) {
    width: 95dvw;
    overflow: hidden;
  }
}

.carousel-buttons {
  pointer-events: none;
  z-index: 5;
}

.carousel-btn {
  z-index: 10;
  width: 45px;
  height: 45px;
  font-size: 1.5em;
  cursor: pointer;
  transition: background 0.2s;
  background: transparent;
  border-radius: 50%;
  pointer-events: auto;
}

.carousel-btn:hover {
  background: rgb(170, 40, 40);
}

.carousel-btn svg {
  width: 16px;
  height: 16px;
  fill: black !important;
  color: black;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.2s;
}

.dot.active {
  background: black;
}

.carousel-track {
  height: 500px;
}

.carousel-card {
  transition:
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 0.5s ease;
  will-change: transform, opacity;
  left: 50%;
  transform: translateX(-50%);
}

.carousel-card.active {
  transform: translateX(-50%) scale(1);
  opacity: 1;
  z-index: 3;
  pointer-events: auto;
}

.carousel-card.side {
  pointer-events: none;
  opacity: 0.5;
  z-index: 2;
}

.carousel-card.side.left {
  transform: translateX(calc(-50% - 280px)) scale(0.8);
  @media (max-width: 992px) {
    transform: translateX(calc(-50% - 150px)) scale(0.8);
  }
}

.carousel-card.side.right {
  transform: translateX(calc(-50% + 280px)) scale(0.8);
  @media (max-width: 992px) {
    transform: translateX(calc(-50% + 150px)) scale(0.8);
  }
}

/* hidden cards */
.carousel-card.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transform: translateX(-50%) scale(0.6);
}

.knight-container {
  width: 275px;
  height: 400px;
  perspective: 500px;
}

.knight-container.awards {
  height: auto;
  min-height: 350px;
}

.knight-container:hover > .knight-card {
  cursor: pointer;
  transform: rotateY(180deg);
  border: 2px solid red;
}

.knight-container.awards:hover > .knight-card:hover {
  cursor: pointer;
  transform: rotateY(180deg);
  max-height: 450px;
}

.knight-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  border: solid rgba(0, 0, 0, 0.3);
  background: white;
  font-size: 1.5em;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.awards .knight-card {
  height: auto;
  min-height: 350px;
}

.card-front,
.card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 12px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-front {
  pointer-events: none;
}

.card-back {
  pointer-events: auto;
  background: white;
  transform: rotateY(180deg);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  mask-image: radial-gradient(white, black);
}

.knight-card .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.image-wrapper img {
  width: 200px;
  border-radius: 15px;
  clip-path: none !important;
  animation: none !important;
  object-fit: contain;
  pointer-events: none;
}

.positions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.knight-info {
  padding: 5px 15px;
  width: 95%;
}

.knight-info.name {
  font-weight: 800;
}

.knight-info.number {
  margin-top: auto;
  justify-self: end;
}

.award-year-group {
  display: flex;
  flex-direction: column;
  width: 95%;
  text-align: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  justify-self: center;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.list-title {
  font-weight: 700;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin: 0 5px;
  width: 95%;
  @media (max-width: 992px) {
    padding: 5px;
    margin: 0 15px;
  }
}

.award-item {
  margin-left: 25px;
  padding-left: 10px;
  border-left: 3px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  overflow: hidden;
}

.award-item span {
  display: block;
  opacity: 0;
}

.award-item.show span {
  animation: appear 1s forwards var(--delay);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.line-separate {
  display: flex;
  flex: 1;
  align-items: center;
  width: 90%;
}

.line-separate::after {
  flex: 1;
  content: "";
  border-bottom: 1px solid black;
}

/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* ---------------------------------------- */

.hist-container {
  gap: 50px;
  @media (max-width: 992px) {
    width: 100%;
    padding: 0 10px;
    align-items: center;
  }
}

.founding-lines {
  height: 700px;
  gap: 25px;
  @media (max-width: 992px) {
    min-height: 1250px;
  }
}

.hist-container ul {
  list-style-type: none;
}

.member-name {
  font-weight: 900;
}

.member-name::after,
.member-name::before {
  flex: 1;
  content: "";
  align-items: center;
  height: 10px;
  min-width: 50px;
}

.member-name::after {
  background:
    linear-gradient(
        to right,
        /* starts solid at hilt (left) */ black 0%,
        /* holds solid for most of blade */ black 60%,
        /* fades out before tip (right) */ transparent 90%
      )
      /* 95% width, starts from left */ left center / 95% 2px no-repeat,
    linear-gradient(
      to bottom,
      #808080,
      /* darker silver above */ #808080,
      /* lighter silver below */ #d4d4d4,
      #d4d4d4
    );
  clip-path: polygon(
    0% 0%,
    calc(100% - 10px) 0%,
    100% 50%,
    calc(100% - 10px) 100%,
    0% 100%
  );
}

.member-name::before {
  background:
    linear-gradient(
        to left,
        /* starts solid at hilt (right) */ black 0%,
        /* holds solid for most of blade */ black 60%,
        /* fades out before tip (left) */ transparent 90%
      )
      /* 95% width, starts from right */ right center / 95% 2px no-repeat,
    linear-gradient(
      to bottom,
      #808080,
      /* darker silver above */ #808080,
      /* lighter silver below */ #d4d4d4,
      #d4d4d4
    );
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
}

.handle-left,
.handle-right {
  display: flex;
  flex: 0.1 0 auto;
  align-items: center;
  white-space: nowrap;
}

.handle-left::after,
.handle-right::after {
  flex: 1;
  content: "";
  height: 25px;
  width: 30px;
  background: black;
}

.handle-left::after {
  margin-right: 5px;
  clip-path: polygon(
    0% 0%,
    5px 0%,
    5px 40%,
    calc(100% - 5px) 40%,
    100% 50%,
    calc(100% - 5px) 60%,
    5px 60%,
    5px 100%,
    0% 100%
  );
  transform-origin: left center;
}

.handle-right::after {
  margin-left: 5px;
  clip-path: polygon(
    0% 50%,
    5px 40%,
    calc(100% - 5px) 40%,
    calc(100% - 5px) 0%,
    100% 0%,
    100% 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) 60%,
    5px 60%,
    0% 50%
  );
  transform-origin: right center;
}

.hist-header {
  font-size: 1.5em;
  font-weight: 600;
}

.crown {
  width: 125px;
}

.tau-hist-container {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.05);
  color: black;
  padding: 25px 0;
}

.memories {
  width: 15%;
  height: 8%;
  object-fit: cover;
  border-radius: 8px;
  background: white;
}

.mtb-sacraments {
  align-items: unset;
  width: 75%;
  gap: 15px;
}

.mtb-sacraments .card {
  height: 100px;
  font-size: 2em;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.05);
  color: white;
  opacity: 0;

  @media (max-width: 992px) {
    font-size: 1em;
  }
}

.card.left.show {
  background: red;
  animation: fromLeft 1s forwards var(--delay);
  transform: translateX(-50%);
}

.card.right.show {
  background: black;
  animation: fromRight 1s forwards var(--delay);
  transform: translateX(50%);
}

@keyframes fromLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mtb-sacraments .icon {
  transform: scaleX(1);
  font-size: 2em;
}

.mtb-sacraments .icon.reverse {
  transform: scaleX(-1);
}

.message {
  color: rgba(255, 255, 255, 0.75);
}

.label-wrapper {
  font-size: 1.5em;
  padding: 5px 10px;

  @media (max-width: 992px) {
    flex: unset !important;
  }
}

/* ||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||| Contact.tsx ||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||| */

.contact-page h3 {
  font-size: 4em;

  @media (max-width: 992px) {
    font-size: 2em;
  }
}

.contact-info {
  width: 75%;
  overflow-x: hidden;
  @media (max-width: 992px) {
    width: 100%;
    padding: 0 10px;
  }
}

.reach-info {
  z-index: 1;
  padding: 0 10px;
  font-size: 1.25em;
  background: black;
  border-radius: 8px;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

.reach-info .line-separate::after {
  border-bottom-color: white;
}

.reach-info h5,
.core-values h5 {
  font-size: 1.75em;
}

.reach-email {
  padding: 25px 0;
  font-weight: 900;

  @media (max-width: 992px) {
    font-size: 0.75em;
  }
}

.core-values {
  width: 500px;
  font-size: 1.25em;
  @media (max-width: 992px) {
    width: 100%;
    box-sizing: border-box;
  }
}

.core-values h5,
.core-values .line-separate {
  margin-left: 15px;
}

.core-values-list {
  z-index: 0;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  font-weight: 900;
  overflow-x: hidden;
}

.core-values-list li {
  background: rgba(0, 0, 0, 0.1);
  border-left: 10px solid black;
  padding: 25px 5px 25px 25px;
  opacity: 0;
  transform: translateX(-200px);
  animation: listItemIn 1s forwards;
}

@keyframes listItemIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.interest-form {
  width: 80%;
  color: white;
  background: black;
  border-radius: 15px;
  padding: 10px 25px;

  @media (max-width: 992px) {
    width: 95%;
    padding: 10px;
  }
}

.interest-form h4 {
  align-self: center;
}

.form {
  width: 80%;
  gap: 25px;
  padding: 5px 25px;

  @media (max-width: 992px) {
    gap: 5px;
    width: 100%;
  }
}

.form input,
.form select {
  background-color: white;
  border-color: white;
  color: gray;
}

.interest-submit {
  color: black;
  background: white;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.rush-image {
  flex: 1;
  width: 250px;
  clip-path: polygon(0% 48%, 100% 40%, 100% 51%, 0% 60%);
  opacity: 0;
}

.rush-effect {
  animation:
    750ms alternate infinite steps(1) fromMiddle,
    500ms alternate steps(1) 3 flicker;
  animation-delay: 2s, 0s;
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.15;
  }
}

@keyframes fromMiddle {
  0% {
    clip-path: polygon(0% 48%, 100% 40%, 100% 51%, 0% 60%);
    opacity: 1;
  }
  25% {
    clip-path: polygon(0% 34.4%, 100% 26%, 100% 65%, 0% 74%);
    opacity: 1;
  }
  50% {
    clip-path: polygon(0% 26.5%, 100% 18.3%, 100% 72%, 0% 81%);
    opacity: 1;
  }
  75% {
    clip-path: polygon(0% 20.6%, 100% 12.5%, 100% 78%, 0% 87%);
    opacity: 1;
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
}

.faq h2 {
  width: 90%;
  text-align: start;
}

.accordion {
  width: 75%;
}

.accordion-button:not(.collapsed),
.accordion-button.collapsed {
  background: white;
  box-shadow: unset;
}
