/* Global.css for every file on the website */

/*  Navbar.tsx  */
.navbar {
  height: 100px;
  top: 0;
  width: 100%;
  background-color: rgb(200, 59, 59);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
  font-weight: bold;
  @media (max-width: 990px) {
    top: 0;
    height: 120px;
    justify-content: center;
  }
}

.navbar-col {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
}

.navbar-collapse {
  width: 75%;
}

.nav-items {
  cursor: pointer;
  @media (max-width: 990px) {
    padding: 2%;
    width: 100%;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    justify-self: end;
    background-color: rgb(200, 59, 59);
    align-items: center;
  }
}

.nav-link:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.navbar-brand .logo {
  justify-self: start;
  width: 50px;
  height: auto;
  animation: none;
  clip-path: none;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||| This and below is for the Home Page |||||||| */
/* |||||||||||||||||||| HomePage.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.home-grid {
  display: grid;
  height: 100%;
  width: 100%;
  @media (max-width: 992px) {
    /* The rows will dynamically change as the max-width gets smaller and smaller */
    grid-template-areas:
      "lHalf"
      "rHalf";
    grid-template-rows: 12vh 68vh;
  }
  @media (max-width: 850px) {
    grid-template-rows: 20vh 60vh;
  }
  @media (max-width: 450px) {
    grid-template-rows: 30vh 40vh;
  }

  @media (min-width: 992px) {
    grid-template-areas: "lHalf rHalf";
    grid-template-columns: 100% 67%;
    justify-content: space-between;
    overflow: hidden;
  }
}

/* The left half and right half will overlap and have animations */
.home-grid > .left-half {
  /* The left hand is for text, will have the chapter and org name */
  grid-area: lHalf;
  align-content: center;
  position: relative;
  z-index: 2;
  color: white;
  height: 100%;
  width: 100%;

  @media (min-width: 992px) {
    z-index: 1;
  }
}

.home-grid > .right-half {
  /* Right side is dedicated to an image of the active house */
  grid-area: rHalf;
  background-color: black;
  overflow: hidden;
  position: relative;
  display: block;

  @media (max-width: 991px) {
    margin-bottom: -12vh;
    z-index: 1;
  }

  @media (max-width: 870px) {
    margin-bottom: -20vh;
  }

  @media (max-width: 450px) {
    top: -30vh;
    margin-bottom: -40vh;
  }

  @media (min-width: 992px) {
    left: -100%;
    background: transparent;
  }
}

.relative-container {
  @media (max-width: 990px) {
    opacity: 0.5;
    background-color: black;
  }
  @media (min-width: 1920px) {
    background-position: 300px center;
  }
  @media (min-width: 990px) {
    /* Whenever we are on a bigger screen we will make sure that the left hand will contain a background image */
    height: 100%;
    background-color: black;
    background-image: url(./Photos/Knights_return.jpg);
    background-position: 0 -800px;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.text-left {
  font-size: 4rem;
  font-style: italic;
  font-family: "times new roman", times, serif;
  font-weight: lighter;
  position: absolute;
  top: 30vh;
  transform: translate(500px, 0);
  animation: comeIn 1s forwards;
  animation-delay: 500ms;
  opacity: 0;

  @media (min-width: 992px) {
    -webkit-text-stroke: 10px black;
    paint-order: stroke;
  }

  @media (max-width: 992px) {
    color: white;
    animation: comeUp 1s forwards;
    animation-delay: 500ms;
    opacity: 0;
    transform: translate(0, 15vh);
    font-size: 2em;
  }
}

@keyframes comeIn {
  to {
    transform: translate(20px, 0);
    opacity: 1;
  }
}

@keyframes comeUp {
  to {
    transform: translate(0, -25vh);
    opacity: 1;
  }
}

.right-half img {
  /* This is specifically for the image on the right half, 
  This allows for the image to fade into the back and be able to blend seamlessly */
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  -webkit-mask-image:
    linear-gradient(to right, transparent 0%, black 15%),
    linear-gradient(to top, transparent 0%, black 40%);
  -webkit-mask-composite: intersect;
  mask-image:
    linear-gradient(to right, transparent 0%, black 15%),
    linear-gradient(to top, transparent 0%, black 40%);
  mask-composite: intersect;
  border-bottom-left-radius: 4em;
  @media (min-width: 992px) {
    z-index: 3;
    top: -100vh;
    left: 5vw;
    animation: fadeIn 1s forwards;
    animation-delay: 800ms;
    clip-path: none;
  }
  @media (max-width: 991px) {
    width: 100%;
    height: 100%;
    mask-image: linear-gradient(to top, transparent 0%, black 30%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%);
    border-radius: 0;
  }
}

@keyframes fadeIn {
  to {
    left: 5vw;
    top: -5vh;
  }
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Events.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* This is for the countdown that will display on the  */
.countdown-display-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: white;
  width: 95%;
  padding: 5% 2%;
  background: black;
  border-radius: 15px;

  @media (max-width: 992px) {
    flex-direction: column;
    justify-content: center;
  }
}

.countdown-image {
  width: 25%;
  border-radius: 8px;
  @media (max-width: 992px) {
    width: 90%;
  }
}

.countdown-col {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 992px) {
    margin-top: 5px;
    width: 100%;
  }
}

.countdown-col h2 {
  font-size: 2em;
  font-weight: 900;
}

.countdown-col .countdown-timer {
  @media (max-width: 992px) {
    gap: 4px;
    width: 100%;
    justify-content: center;
    margin-bottom: 25px;
  }
}

.countdown-col .countdown-number-wrapper {
  background: black;
  @media (max-width: 992px) {
    width: 70px;
    height: 75px;
  }
}

.countdown-col .countdown-number {
  color: white;
  @media (max-width: 992px) {
    font-size: 1.75em;
  }
}

.countdown-col .countdown-separator {
  @media (max-width: 992px) {
    font-size: 1.5em;
    margin-top: 5px;
  }
}

.countdown-col .countdown-label {
  @media (max-width: 992px) {
    font-size: 1em;
  }
}

.event-countdown-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.events-container,
.countdown-events-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 2em;
}

.events-list-countdown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  flex: 1;
  padding: 0 5% 5%;
  gap: 10px;
}

.countdown-event-items-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.event-countdown-title {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: pre-line;
}

.event-countdown-title::before {
  content: ">";
  margin: 0 1em;
}

.event-countdown-date {
  margin: 0;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 15px;
}

.event-countdown-date::after {
  content: "";
  margin: 0 1em;
}

.event-logo {
  margin-right: 5px;
  @media (max-width: 992px) {
    display: block;
    font-size: 1em;
    flex: 1;
  }
}

hr {
  margin: 0.25em 2em;
}

.event-start-end {
  margin: 0;
}

/* The following, will be when the page is loading, 
it will display a different page where it shows an animation to display loading*/
.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.loading-container {
  animation: reveal 1.5s infinite alternate steps(100);
}

.loading-tribal {
  display: block;
  width: 100%; /* whatever size you want */
}

@keyframes reveal {
  0% {
    clip-path: inset(0 100% 0 0); /* fully hidden */
  }
  100% {
    clip-path: inset(0 0% 0 0); /* fully visible */
  }
}

.card-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: calc(100% - 100px);
  height: 100%;
  padding: 3%;
  align-items: center;
  justify-self: center;
  justify-content: space-evenly;
  box-shadow: 5px 10px 20px 5px;
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card-event {
  width: 35%;
  height: auto;
  object-fit: contain;
  border-radius: 3em;
  @media (max-width: 992px) {
    width: 80%;
    justify-items: center;
    align-items: center;
  }
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  width: 75%;
  justify-self: center;
  font-size: 1em;
  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
    justify-items: center;
  }
}

.card-text h5 {
  text-align: center;
  font-size: 2rem;
  padding: 50px 0;
}

.event-title {
  justify-self: center;
  font-size: 4em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.event-prices {
  display: flex;
  justify-self: center;
  width: 80%;
  justify-content: space-between;
  padding: 5px;
  @media (max-width: 992px) {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
  }
}

.sell-items {
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  @media (max-width: 992px) {
    list-style-position: inside;
    text-align: left;
    justify-self: center;
  }
}

.card-text ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.sell-items li {
  display: flex;
  align-items: center;
}

.item-name {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: pre-line;
}

.item-price {
  margin-left: auto;
  white-space: nowrap;
  padding-left: 3%;
}

.item-name::after {
  content: "";
  flex: 1;
  border-bottom: 2px dashed black;
  margin-left: 1rem;
}

.card-container.reverse {
  flex-direction: row-reverse;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

/*  About.tsx   */
.about-container {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  @media (max-width: 992px) {
    width: 100%;
    flex-direction: column;
  }
}

.about-description {
  width: 50%;
  text-align: start;
  @media (max-width: 992px) {
    width: 100%;
    text-align: center;
  }
}

.group-photo {
  object-fit: contain;
  width: 40%;
  border-radius: 8px;

  @media (max-width: 992px) {
    width: 90%;
  }
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| MGC.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.mgc-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 100, 177);
  color: white;
  font-family: "Noto Sans";
  text-align: center;
}

.mgc-container h2 {
  font-size: 4rem;
  color: black;
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
}

.mgc-link {
  font-size: 3em;
  text-decoration: none;
  color: white;
}

.mgc-link:hover {
  text-decoration: none;
}

.mgc-icon {
  font-size: 3em;
  fill: url(#mgc-insta);
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| School.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

a.click-button {
  background-color: black;
  border-radius: 5em;
  width: fit-content;
  padding: 0 5px;
  text-decoration: none;
  color: white;
  -webkit-text-stroke: 0;
}

.school-container {
  display: flex;
  flex-direction: column;
  background-image: url(./Photos/Blaze.png);
  background-size: 100%;
  background-position: -1000px -50px;
  background-repeat: no-repeat;
  justify-items: center;
  align-items: center;
  font-weight: bold;
  font-family: "Noto Sans";
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 100, 177);
  animation: blazeIn 1s forwards;
  animation-delay: 500ms;

  @media (max-width: 992px) {
    background-position: -1000px 0px;
    background-size: 140%;
    animation: blazeInMobile 1s forwards;
    height: 55vh;
  }
}

.school-container h1 {
  font-weight: 900;
  @media (max-width: 992px) {
    font-size: 2em;
  }
}

.school-container h6 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;

  @media (max-width: 992px) {
    font-size: 2.25em;
  }
}

@keyframes blazeIn {
  to {
    background-position: -250px -50px;
  }
}

@keyframes blazeInMobile {
  to {
    background-position: -200px 0px;
  }
}

.resources-row {
  justify-content: space-between;
  width: 80%;
  height: 100%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.help-resources,
.study-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  justify-items: center;
  height: 100%;
}

.help-list,
.study-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  color: black;
  --webkit-text-stroke-width: 5px;
  --webkit-text-stroke-color: white;
  padding: 0;
  gap: 5px;
}

.school-list-item {
  font-size: 1.2em;
  -webkit-text-stroke: 2px white;
  paint-order: stroke;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Follow.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.follow-container {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  background: black;
  z-index: 0;
  @media (max-width: 992px) {
    height: auto;
  }
}

.follow-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 90%;
  height: 85%;
  align-items: center;
  background: rgb(200, 59, 59);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  @media (max-width: 992px) {
    position: relative;
    height: 95%;
  }
}

.active-follow {
  animation: goDown 1s ease-out forwards;
}

@keyframes goDown {
  0% {
    transform: translateY(-100%);
    z-index: -1;
  }
  100% {
    transform: translateY(0);
    z-index: 1;
  }
}

.follow-wrapper h2 {
  padding: 0;
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  width: 90%;
  text-align: left;
  @media (max-width: 992px) {
    font-size: 2em;
  }
}

.follow-wrapper .line-separate {
  flex: none;
  margin: 0;
  padding: 0;
}

.info-wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 20%;
  margin: 0;
  padding: 5px 0;
  justify-content: space-between;
  @media (max-width: 992px) {
    height: 25%;
    flex-wrap: nowrap;
  }
}

.founding-date-loc {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: 600;
  height: fit-content;
  justify-content: space-evenly;
  @media (max-width: 992px) {
    font-size: 1em;
  }
}

.follow-dates {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-around;
}

.spacer::after {
  content: "|";
}

.icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 0.75;
  margin: 0;
  padding: 5px 0;
  gap: 0.5%;

  @media (max-width: 992px) {
    gap: 5px;
  }
}

.icons-wrapper a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.follow-icon {
  height: 100%;
  width: auto;
  color: black;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.extension {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 5%;
  gap: 5%;
  @media (max-width: 992px) {
    flex-direction: column;
    padding: 10px 15px;
    gap: 10px;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
  }
}

.extension h6 {
  font-weight: 600;
  padding: 1% 0 0;
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.touch-list {
  list-style-type: none;
  padding: 0 2%;
}

.touch-list li .list-item,
.touch-list li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  width: max-content;
}

.letters {
  position: absolute;
  bottom: 1%;
  right: 1%;
  height: auto;
  width: 15% !important;

  @media (max-width: 992px) {
    width: 25% !important;
  }
}

.founding-date {
  position: absolute;
  top: 1%;
  right: 1%;
  color: black;
}

/* ----------------------------------------------------------------------------------- */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Footer.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.2);
  background: black;
  padding: 0 5px;
}

.footer-container span {
  font-weight: 700;
}

/* ----------------------------------------------------------------------------------- */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Gallery.tsx ||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.odphi-gallery-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  @media (max-width: 992px) {
    padding-top: 120px;
  }
}

.odphi-gallery-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 25px;
  top: 110px;
  font-weight: 800;
  text-align: center;
  justify-self: start;
  z-index: 1000;
}

.letters {
  width: 500px;
}

.odphi-gallery-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 25px;
  @media (max-width: 992px) {
    padding: 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.gallery-card {
  position: relative;
  width: 600px;
  min-height: 500px;
  max-height: 600px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 10px 20px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 992px) {
    width: 350px;
    min-width: 300px;
    max-height: 400px;
  }
}

.trash-can-wrapper {
  position: absolute;
  top: 0;
  right: 5px;
  z-index: 10;
  cursor: pointer;
  background: transparent;
}

.trash-can {
  color: rgba(0, 0, 0, 0.25);
  width: 16px;
  height: auto;
}

.trash-can-wrapper:focus,
.trash-can-wrapper:focus-visible {
  outline: none;
}

.gallery-card:hover {
  box-shadow: 5px 10px 50px 5px;
  transform: translateY(-10px);
}

.odphi-gallery-image {
  width: 100%;
  max-height: 400px;
  object-fit: contain;
  object-position: center;
  padding: 5px 5px 0;
  border-radius: 15px 15px 0 0;
  @media (max-width: 992px) {
    width: 100%;
    max-height: 200px;
  }
}

.image-description {
  width: 100%;
  flex: 1;
  border-radius: 0 0 15px 15px;
  padding: 0;
  margin: 0;
  margin-left: 5%;
  text-align: left;

  @media (max-width: 992px) {
    margin-left: 2%;
  }
}

/* ----------------------------------------------------------------------------------- */

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||| Service.tsx ||||||||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.service-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100vw;
  padding: 100px 0 20px;
  @media (max-width: 992px) {
    padding-top: 120px;
  }
}

.service-page h2 {
  padding: 0;
  font-size: 2em;
  font-weight: 900;
}

.service-event-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  padding-top: 2%;
}

.service-event {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: left;
  width: 45%;
}

.service-title {
  width: 100%;
  font-size: 1.5em;
  font-weight: 600;
}

.service-img {
  border: solid black;
  border-radius: 15px;
  width: 75%;
}

/* ----------------------------------------------------------------------------------- */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||| This and below will be for the OnlyBros ||||||||||| */
/* ||||||||||||||||||||||||| Onlybros.tsx ||||||||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.admin-page {
  display: block;
  max-width: 100%;
  width: 100vw;
  height: max-content;
  margin-top: 100px;
  @media (max-width: 992px) {
    align-items: start;
  }
}

.admin-sidebar {
  position: fixed;
  top: 100px;
  left: 0;
  width: 300px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-right: solid rgba(0, 0, 0, 0.4);
  padding: 0 5px;
  padding-bottom: 0;
}

.admin-page-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.admin-page-swap {
  padding: 5px 10px;
  background-color: red;
  margin-left: 3%;
  border-radius: 12px;
  font-size: 1.25em;
  font-weight: 500;
  color: silver;
  cursor: pointer;
  margin-bottom: 10px;
  width: fit-content;
}

.admin-page-row.admin-panel-buttons {
  gap: 25px;
  width: 100%;
  padding: 5px 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  @media (max-width: 992px) {
    padding: 15px 0;
  }
}

.admin-panels-container {
  display: block;
  width: calc(100% - 300px);
  justify-content: center;
  margin-left: 300px;
  @media (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
  }
}

.admin-show-button {
  position: relative;
  overflow: hidden;
  background: transparent;
  color: black;
  border: solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  z-index: 0;
  transition: color 0.3s ease;
}

.admin-show-button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: transform 0.3s ease;
  z-index: -1;
}

.admin-show-button:hover {
  background: transparent;
  border: solid black;
  box-shadow:
    0 0 3px white,
    0 0 9px,
    0 0 18px,
    0 0 32px;
}

.admin-show-button::before {
  left: 0;
  transform: translateX(-100%);
}

.admin-show-button.active::before {
  transform: translateX(0);
}

.admin-show-button.active {
  color: white;
}

/* ----------------------------------------------------------------------------------- */

/* |||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||| AdminPanel.tsx & Popup.tsx |||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* ----------------------------------------------------------------------------------- */

.admin-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 40px auto;
  padding: 10px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  @media (max-width: 992px) {
    max-width: 350px;
    width: 400px;
    overflow: hidden;
    margin: 0;
    padding: 10px;
  }
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  text-align: center;
}

.admin-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  @media (max-width: 992px) {
    padding: 8px 14px;
  }
}

.admin-label {
  align-self: start;
  font-weight: 500;
}

.description-input {
  width: 100%;
  min-height: 80px;
  padding: 8px 12px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: vertical;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.item-input,
.awards-input,
.event-countdown-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  text-align: center;
  gap: 5px;
  margin-bottom: 5px;
}

.input-event,
.knight-input,
.countdown-event-input {
  width: 100%;
}

.countdown-event-input {
  max-width: 50%;
}

.countdown-event-input.year,
.countdown-event-input.date {
  max-width: 30%;
}

.item-row,
.knight-row,
.countdown-event-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5px;
  color: black;
}

.countdown-event-row {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.countdown-event-input-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  gap: 10px;
}

.countdown-event-input.start,
.countdown-event-input.end {
  width: 100%;
}

.item-row span:first-child {
  display: flex;
  flex: 1;
  font-weight: 600;
  align-items: center;
  white-space: nowrap;
}

.item-row span:last-child {
  white-space: nowrap;
  font-weight: 600;
}

.item-row span:first-child::after {
  content: "";
  flex: 1;
  border-bottom: 3px dashed black;
  margin: 0 5px;
}

.price-wrapper {
  display: flex;
  align-items: center;
}

.price-wrapper span {
  margin-left: 5px;
  font-weight: 600;
  font-size: 16px;
  margin-right: -5px;
}

.price-input {
  width: 100px;
}

.preview-image {
  width: 250px;
  height: auto;
  border-radius: 8px;
  align-self: center;
}

/* ----------------------------------------------------------------------------------- */
.delete-btn {
  background-color: #ff4d4d;
  color: white;
}

.item-delete {
  padding: 2px 5px;
  margin-left: 5px;
}

.knight-input.award-year {
  width: 20%;
}

.edit-btn {
  background-color: #4d79ff;
  color: white;
  margin-right: 10px;
}

.edit-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: start;
}

.edit-container.countdown {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.close-btn {
  background-color: black;
  color: white;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  align-items: center;
}

.popup-box.event-info {
  width: 50%;
  text-align: left;
}

.popup-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.event-popup-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 1000px;
  max-height: 400px;
  overflow-y: auto;
  gap: 15px;
  padding-top: 150px;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.event-popup-container h3 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.view-mode-container {
  display: flex;
  flex-direction: column;
  margin-top: -100px;
  width: 400px;
  align-items: center;
}

.view-mode-container.active-house {
  margin-top: 0;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 1000px;
  max-height: 400px;
  overflow-y: auto;
  gap: 15px;
}

.gallery-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-image {
  width: 100px;
}

.knight-image-display {
  width: 200px;
  border-radius: 10px;
}

.knight-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

.knight-item-view {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0;
  font-weight: 600;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.knight-item-view span:first-child {
  display: flex;
  flex: 1;
  align-items: center;
  white-space: nowrap;
}

.knight-item-view span:last-child {
  white-space: nowrap;
}

.knight-item-view span:first-child::after {
  content: "";
  flex: 1;
  align-items: center;
  border-bottom: dashed black;
  margin: 0 5px;
}

.date-view-container {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.view-mode-container.container-view {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
}

/* ----------------------------------------------------------------------------------- */
/* AdminTabs.tsx */
/* ----------------------------------------------------------------------------------- */
.tab-container {
  display: grid;
  grid-template-areas:
    "Title Title"
    "AdminPanel ActiveContent";
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 100px);
}

.tab-container > h1 {
  grid-area: Title;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  font-weight: 900;
  width: 100%;
}

.tab-container > .admin-tab-panel {
  grid-area: AdminPanel;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.tab-container > .active-events {
  grid-area: ActiveContent;
  width: 100%;
}

.admin-tab-panel {
  width: 100%;
}

.active-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  overflow-y: auto;
}

.active-events h2 {
  width: 100%;
  text-align: center;
}

.active-events.knights {
  text-align: center;
}

.edit-container h4 {
  text-align: center;
}
/* ----------------------------------------------------------------------------------- */

.countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.countdown-title {
  font-size: 1.5em;
  font-weight: 600;
}

.countdown-timer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  overflow: hidden;
}

.countdown-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
  @media (max-width: 992px) {
    padding: 0;
  }
}

.countdown-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 70px;
  background: black;
  border-radius: 8px;
  overflow: hidden;
}

.countdown-number {
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  z-index: 1;
}

.countdown-separator {
  font-size: 2.5em;
  font-weight: 700;
  margin-top: 10px;
}

.countdown-label {
  font-size: 1em;
  font-weight: 900;
}

.countdown-number-wrapper.flip {
  animation: flip 400ms ease forwards;
}

@keyframes flip {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(-100px);
    opacity: 1;
  }
  51% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||| Login.tsx |||||||||||||||||||| */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||| */

.login-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  padding-top: 75px;
  height: 100vh;
  color: white;
  background-color: rgba(111, 105, 105, 0.51);
}

.sword {
  position: fixed;
  justify-self: center;
  z-index: 2;
  width: 650px;
  top: -125vh;
  clip-path: none;
  animation: comeDown 100ms forwards;
  animation-delay: 400ms;
}

@keyframes comeDown {
  to {
    top: 10vh;
  }
}

.spark-container {
  position: relative;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  background-color: black;
}

.spark {
  width: 100%;
}

.login-form {
  position: fixed;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.login-form input {
  width: 30%;
  margin: 25px;
  justify-content: center;
  text-align: center;
  @media (max-width: 992px) {
    width: 75%;
  }
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||| AssignRole.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.assign-role-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 75%;
  margin: 10px 12px;
  padding: 10px 12px;
  align-self: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.assign-role-container h2 {
  text-align: center;
}

.uid-input {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.role-input {
  border-radius: 5px;
  border: 1px solid #ccc;
}

/*  UserInfo.tsx   */
.user-info-container {
  display: flex;
  flex-direction: row;
  font-size: 0.75em;
  @media (max-width: 992px) {
    margin: 5px 0 5px 0;
  }
}

.logout-btn {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: white;
  max-width: fit-content;
  height: 20px;
  padding: 1px 10px;
  margin: 2px 5px;
  border-radius: 4px;
  border: solid black;
  color: black;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||||||||||||| Alumni.tsx & AllBros.tsx |||||||||||||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.alumni-page,
.all-bros-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  padding: 75px 2% 0;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  @media (max-width: 992px) {
    margin-top: 50px;
  }
}

.top-of-page {
  position: fixed;
  width: 100%;
  height: 75px;
  top: 6.25em;
  z-index: 10;
  background-color: white;
}

.return-admin {
  position: fixed;
  top: 2.75em;
  background-color: #ffffff;
  color: white;
  max-width: fit-content;
  padding: 1px 10px;
  margin: 60px 0 5px 10px;
  border-radius: 4px;
  border: solid black;
  color: black;
  align-self: start;
  z-index: 100;
  @media (max-width: 992px) {
    top: 4em;
  }
}

.return-previous {
  left: 10em;
}

.page-header {
  position: fixed;
  top: 3.5em;
  text-align: center;
  width: 90%;
  height: fit-content;
  padding: 5px 25px;
  margin: 5px 25px;
  background-color: red;
  z-index: 1000;
  @media (max-width: 992px) {
    top: 5.75em;
  }
}

.all-events {
  display: grid;
  grid-template-areas:
    "brother events events bar"
    "brother events events bar"
    "alumni events events bar"
    "alumni events events bar";
  grid-template-columns: 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  width: 100%;
  height: calc(100vh - 8.5em);
  padding-top: 8%;
  gap: 1px;
  overflow-y: hidden;
}

.all-events > .brotherhood-events-container,
.all-events > .regular-events,
.all-events > .alumni-events,
.all-events > .side-bar {
  overflow-y: auto;
  height: 100%;
}

.all-events > .brotherhood-events {
  grid-area: brother;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.all-events > .regular-events {
  grid-area: events;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.all-events > .alumni-events {
  grid-area: alumni;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    padding: 0 10px;
  }
}

.all-events > .side-bar {
  grid-area: bar;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5em;
  border-left: solid rgba(0, 0, 0, 0.4);
  padding-left: 15px;
}

.connect-options {
  display: flex;
  flex: 1;
  flex-direction: column;
  list-style-type: none;
  padding: 10px;
  align-items: start;
  justify-content: space-around;
}

.connect-options li {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.connect-options li:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgba(0, 0, 0, 0.25);
}

.connect-options li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: rgba(0, 0, 0, 0.75);
  transition: width 0.3s ease;
}

.connect-options li:hover::after {
  width: 100%;
}

.all-events .card {
  width: 100%;
}

.all-events .card-text {
  gap: 25px;
}

.all-event-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.all-event-wrapper.regular {
  width: 90%;
  cursor: default;
}

.regular .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  flex: 1;
  height: 100%;
}

.regular .card-title {
  align-self: start;
}

.regular .event-prices {
  flex: 1;
}

.price-title {
  align-self: start;
}

.regular .sell-items {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.all-event-wrapper h4::before {
  content: ">";
  margin: 0 15px 0 5px;
}

.all-event-wrapper p {
  color: grey;
  text-decoration-style: grey underline solid;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/* |||||||||| This and below will be for the Meet The bros |||||||||| */
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.mtb-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 0 20px;
  max-width: 100%;
  width: 100vw;
  gap: 50px;
  min-height: 100vh;
  overflow-y: hidden;
  @media (max-width: 992px) {
    padding-top: 120px;
  }
}

.member-requirements {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 40%;
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    width: 100%;
    padding: 5px;
  }
}

.member-requirement-title {
  display: flex;
  flex: 1;
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  align-items: center;
}

.member-requirement-bottom {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
}

.member-requirement-title::before,
.member-requirement-title::after,
.member-requirement-bottom::after {
  flex: 1 0 0;
  content: "";
  height: 10px;
  border-bottom: solid black;
  margin: 0 5px;
  border-top: solid black;
  white-space: nowrap;
}

.requirement-list {
  list-style-type: none;
  padding: 0;
}

.mtb-knights-header {
  margin-bottom: 25px;
}

.mtb-knights-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 5px;
}

.knight-card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 275px;
  min-height: 400px;
  border-radius: 12px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border: solid rgba(0, 0, 0, 0.3);
  font-size: 1.5em;
  transform: translateY(200px);
  opacity: 0;
}

.knight-card.show {
  animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.knight-card .image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.knight-card img {
  width: 200px;
  border-radius: 15px;
  clip-path: none;
  @media (max-width: 992px) {
    width: 250px;
  }
}

.mtb-knight {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.knight-name {
  position: relative;
  font-weight: 600;
  padding-bottom: 50px;
}

.knight-line-number {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.line-separate {
  display: flex;
  flex: 1;
  align-items: center;
  width: 90%;
}

.line-separate::after {
  flex: 1;
  content: "";
  border-bottom: 1px solid black;
}

.history-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 75%;
  gap: 50px;
  @media (max-width: 992px) {
    width: 100%;
    padding: 0 10px;
  }
}

.founding-lines {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 700px;
  gap: 25px;
  @media (max-width: 992px) {
    flex-direction: column;
    width: 100%;
    min-height: 1250px;
  }
}

.founders-container,
.charter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.history-container ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
  gap: 15px;
  align-items: center;
  justify-content: space-around;
}

.history-container .member-name {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

.history-container .member-name::after,
.history-container .member-name::before {
  flex: 1;
  content: "";
  align-items: center;
  height: 10px;
  min-width: 50px;
}

.history-container .member-name::after {
  background:
    linear-gradient(
        to right,
        /* starts solid at hilt (left) */ black 0%,
        /* holds solid for most of blade */ black 60%,
        /* fades out before tip (right) */ transparent 90%
      )
      /* 95% width, starts from left */ left center / 95% 2px no-repeat,
    linear-gradient(
      to bottom,
      #808080,
      /* darker silver above */ #808080,
      /* lighter silver below */ #d4d4d4,
      #d4d4d4
    );
  clip-path: polygon(
    0% 0%,
    calc(100% - 10px) 0%,
    100% 50%,
    calc(100% - 10px) 100%,
    0% 100%
  );
}

.history-container .member-name::before {
  background:
    linear-gradient(
        to left,
        /* starts solid at hilt (right) */ black 0%,
        /* holds solid for most of blade */ black 60%,
        /* fades out before tip (left) */ transparent 90%
      )
      /* 95% width, starts from right */ right center / 95% 2px no-repeat,
    linear-gradient(
      to bottom,
      #808080,
      /* darker silver above */ #808080,
      /* lighter silver below */ #d4d4d4,
      #d4d4d4
    );
  clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0% 50%);
}

.handle-left,
.handle-right {
  display: flex;
  flex: 0.1 0 auto;
  align-items: center;
  white-space: nowrap;
}

.handle-left::after,
.handle-right::after {
  flex: 1;
  content: "";
  height: 25px;
  width: 30px;
  background: black;
}

.handle-left::after {
  margin-right: 5px;
  clip-path: polygon(
    0% 0%,
    5px 0%,
    5px 40%,
    calc(100% - 5px) 40%,
    100% 50%,
    calc(100% - 5px) 60%,
    5px 60%,
    5px 100%,
    0% 100%
  );
  transform-origin: left center;
}

.handle-right::after {
  margin-left: 5px;
  clip-path: polygon(
    0% 50%,
    5px 40%,
    calc(100% - 5px) 40%,
    calc(100% - 5px) 0%,
    100% 0%,
    100% 100%,
    calc(100% - 5px) 100%,
    calc(100% - 5px) 60%,
    5px 60%,
    0% 50%
  );
  transform-origin: right center;
}

@keyframes turnHitLeft {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(165deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes turnHitRight {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-165deg);
  }
  100% {
    transform: rotate(0);
  }
}

.history-header {
  font-size: 1.5em;
  font-weight: 600;
}

.history-header .crown {
  width: 125px;
}

.tau-history-container,
.mission-container {
  display: flex;
  flex-direction: column;
  border-top: 5px solid black;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.05);
  color: black;
  padding: 25px 0;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
}

.tau-history,
.purpose {
  width: 75%;
}

/* Contact.tsx */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 100vw;
  padding: 100px 0 20px;
  @media (max-width: 992px) {
    padding-top: 120px;
  }
}

.contact-page h3 {
  font-size: 4em;
}

.contact-info {
  display: flex;
  flex-direction: row;
}

.reach-info {
  z-index: 1;
  padding: 0 10px;
  font-size: 1.25em;
  background: black;
  border-radius: 8px;
  color: white;
}

.reach-info .line-separate::after {
  border-bottom-color: white;
}

.reach-info h5,
.core-values h5 {
  font-size: 1.75em;
}

.reach-email {
  display: flex;
  flex-direction: column;
  padding: 25px 0;
  font-weight: 900;
}

.core-values {
  display: flex;
  flex-direction: column;
  width: 500px;
  font-size: 1.25em;
}

.core-values h5,
.core-values .line-separate {
  margin-left: 15px;
}

.core-values-list {
  display: flex;
  flex-direction: column;
  z-index: 0;
  gap: 10px;
  list-style-type: none;
  padding: 0;
  font-weight: 900;
}

.core-values-list li {
  background: rgba(0, 0, 0, 0.1);
  border-left: 10px solid black;
  padding: 25px 5px 25px 25px;
  opacity: 0;
  transform: translateX(-200px);
  animation: listItemIn 1s forwards;
}

@keyframes listItemIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.interest-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  color: white;
  background: black;
  border-radius: 15px;
  padding: 10px 25px;
}

.interest-form h4 {
  align-self: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 25px;
  padding: 5px 25px;
}

.form input,
.form select {
  background-color: white;
  border-color: white;
  color: gray;
}

.col-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.interest-full-name {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.interest-name {
  width: 100%;
}

.last {
  align-self: end;
}

.year-phone {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.year-phone .col-form.year {
  width: 74%;
}

.year-phone .col-form.num {
  width: 24%;
}

.interest-submit {
  color: black;
  background: white;
  border-radius: 10px;
}

.interest-submit::after,
.interest-submit::before {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: black;
  transition: transform 0.3s ease;
  z-index: -1;
}

.interest-submit:hover {
  background: white;
  border: none;
  box-shadow:
    0 0 5px white,
    0 0 25px white,
    0 0 50px white,
    0 0 200px white;
}

.rush-image {
  flex: 1;
  width: 250px;
  clip-path: polygon(0% 48%, 100% 40%, 100% 51%, 0% 60%);
  opacity: 0;

  @media (max-width: 992px) {
    display: none;
  }
}

.rush-effect {
  animation:
    750ms alternate infinite steps(1) fromMiddle,
    500ms alternate steps(1) 3 flicker;
  animation-delay: 2s, 0s;
}

@keyframes flicker {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.15;
  }
}

@keyframes fromMiddle {
  0% {
    clip-path: polygon(0% 48%, 100% 40%, 100% 51%, 0% 60%);
    opacity: 1;
  }
  25% {
    clip-path: polygon(0% 34.4%, 100% 26%, 100% 65%, 0% 74%);
    opacity: 1;
  }
  50% {
    clip-path: polygon(0% 26.5%, 100% 18.3%, 100% 72%, 0% 81%);
    opacity: 1;
  }
  75% {
    clip-path: polygon(0% 20.6%, 100% 12.5%, 100% 78%, 0% 87%);
    opacity: 1;
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
}

.campus-activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  padding: 25px;
  color: black;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  gap: 25px;
}

.campus-activity-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.on-campus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100px;
  text-align: center;
  border: solid white;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background: transparent;
  color: black;
  cursor: pointer;
  z-index: 0;
  transition: color 0.3s ease;
}

.on-campus span {
  font-size: 2em;
  font-weight: 600;
}

.on-campus::before,
.on-campus::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: black;
  transition: transform 0.3s ease;
  z-index: -1;
}

.on-campus::before {
  left: 0;
  transform: translateX(-100%);
}

.on-campus::after {
  right: 0;
  transform: translateX(100%);
}

.on-campus:hover::before {
  transform: translateX(0);
}

.on-campus:hover::after {
  transform: translateX(0);
}

.on-campus:hover {
  color: white;
}
