html,
body {
  background: white;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000;
}

/* Every image in the app should have the same animation */
img {
  aspect-ratio: auto;
  animation: slideFromTop 1s ease-in forwards;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

@keyframes slideFromTop {
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* App grid to help place all contents in web app */

.AppGrid {
  display: grid;
  max-width: 100%;
  width: 100vw;
  overflow: hidden;
  grid-template-areas:
    "Welcome Welcome Welcome"
    "gap gap gap"
    "Events Events Events"
    "About About About"
    "School School MGC"
    "Follow Follow Follow"
    "Footer Footer Footer";
  @media (max-width: 992px) {
    grid-template-areas:
      "Welcome Welcome Welcome"
      "gap gap gap"
      "Events Events Events"
      "About About About"
      "MGC MGC MGC"
      "School School School"
      "Follow Follow Follow"
      "Footer Footer Footer";
  }
}

.AppGrid > .Welcome {
  grid-area: Welcome;
  height: calc(100vh - 150px);
  z-index: 1;
  background: black;

  @media (max-width: 992px) {
    height: calc(100dvh - 170px);
  }
}

.AppGrid > .gap {
  grid-area: gap;
  position: relative;
  display: flex;
  height: 50px;
  background: linear-gradient(to bottom, black, white);
  justify-content: center;
  align-items: center;
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.AppGrid > .Events {
  grid-area: Events;
  height: auto;
  width: 100%;
  align-items: center;
  margin: 0;
  z-index: 2;
}

.AppGrid > .About {
  grid-area: About;
  width: 100%;
  height: auto;
}

.AppGrid > .School,
.AppGrid > .MGC {
  padding: 1em 0;
  background-color: black;
  min-height: 35vh;
  z-index: 1;
  @media (max-width: 992px) {
    padding: 0;
  }

  @media (min-width: 1500px) {
    min-height: 40vh;
  }
}

.AppGrid > .School {
  grid-area: School;
  @media (max-width: 992px) {
    padding-bottom: 1em;
  }
}
.AppGrid > .MGC {
  grid-area: MGC;

  @media (max-width: 992px) {
    padding-top: 1em;
  }
}

.AppGrid > .Follow {
  grid-area: Follow;
  background-color: #c0c0c0;
  min-height: 35vh;
}

.AppGrid > .Footer {
  grid-area: Footer;
  bottom: 0;
  height: max-content;
}

.chevron-wrapper {
  display: flex;
  animation: bounce 1.5s ease-in 2;
}

.chevron {
  width: 16px;
  height: 16px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(45deg) translateY(-25%);
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
  }
  50% {
    transform: translateY(95%);
  }
}
