body {
  background-color: silver;
  padding-top: 60px;
}

/* App grid to help place all contents in web app */

#AppGrid {
  display: grid;
  max-width: 100%;
  width: 100vw;
  grid-template-areas:
    "Welcome Welcome"
    "gap gap"
    "Events World"
    "School MGC"
    "Contact Contact"
    "Footer Footer";
  @media (max-width: 1200px) {
    grid-template-areas:
      "Welcome Welcome"
      "gap gap"
      "Events Events"
      "World World"
      "School School"
      "MGC MGC"
      "Contact Contact"
      "Footer Footer";
  }
}

#AppGrid > #gap {
  grid-area: gap;
  width: 100%;
  height: 12vh;
  justify-items: center;
}

#AppGrid > #Welcome {
  grid-area: Welcome;
  width: 100%;
}

#AppGrid > #Events {
  grid-area: Events;
  width: 100%;
  background-color: rgb(227, 32, 32);
  min-height: 35vh;
}

#AppGrid > #World {
  grid-area: World;
  width: 100%;
  background-color: rgb(36, 221, 60);
  min-height: 35vh;
}

#AppGrid > #School {
  grid-area: School;
  width: 100%;
  background-color: aqua;
  min-height: 35vh;
}

#AppGrid > #MGC {
  grid-area: MGC;
  width: 100%;
  background-color: purple;
  min-height: 35vh;
}

#AppGrid > #Contact {
  grid-area: Contact;
  width: 100%;
  background-color: rgb(148, 91, 254);
  min-height: 35vh;
}

#AppGrid > #Footer {
  grid-area: Footer;
  max-width: 100%;
  bottom: 0;
  background-color: rgb(101, 107, 51);
  height: 5vh;
}

.chevron {
  width: 16px;
  height: 16px;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(45deg) translate(20px, 20px);
  animation: bounce 1.5s ease-in 2;
}

@keyframes bounce {
  0%,
  100% {
    transform: rotate(45deg) translate(20px, 20px);
  }
  50% {
    transform: rotate(45deg) translate(35px, 35px);
  }
}
